.connection-form {
  display: flex;
  justify-content: center;

  padding: 20px 0px 20px 0px;
  @media (max-width: 600px) {
    padding: 0;
  }
  .form-container {
    background: $color-1;
    border-radius: 15px;
    padding: 8px 80px 8px 80px;
    box-shadow: 1px 1px 7px 4px $color-2;
    @media (max-width: 600px) {
      border-radius: 15px;
      padding: 0;
    }
    .btn-contain {
      display: flex;
      justify-content: space-around;
      padding: 20px 0px 20px 0px;
      @media (max-width: 600px) {
        border-radius: 15px;
      }
      background: $color-1;
      .btn {
        border-radius: 25px;
        cursor: pointer;
        color: $color-2 !important;
        padding: 10px;
        width: 150px;
        font-weight: 600;
        text-align: center;
        background: $color-3;
        box-shadow: 1px 2px 4px 1px black;

        &:hover {
          transition: 0.8s;
          transform: translateX(-3px);
          color: white !important;
          background: $color-2;
        }
      }
    }

    #sign-up-form {
      @media (max-width: 600px) {
        padding: 5px;
      }
      padding: 20px;
      label {
        display: flex;
        justify-content: center;
        font-weight: 600;
        background: $color-1;
        color: $color-2;
        z-index: 10;
        cursor: pointer;
      }
    }

    input {
      padding: 14px 20px;
      margin: 0;
      font-size: 1.2rem;
      font-family: $font-2;
      width: 300px;
      border-radius: 20px;
      box-shadow: 1px 3px 2px 1px $color-2;
      &:focus {
        border: 2px inset $color-3;
        box-shadow: none;
      }
      &:hover {
        background: $color-3;
      }
    }
  }

  .error {
    margin-top: 15px;
    width: 300px;
  }
}
.img-container {
  display: flex;
  justify-content: center;
  align-items: center;
  img {
    border: 5px inset $color-1;
    height: 180px;
    z-index: 15;
    border-radius: 100px;
    background: $color-2;
    justify-content: center;
  }
}
