.profil-page {
  margin: 80px auto 0;
  max-width: 1200px;

  .icons {
    top: 55px;
  }

  .log-container {
    margin: 0 auto;
    display: grid;
    grid-template-columns: 60% 40%;

    @media screen and(max-width: 885px) {
      grid-template-columns: 1fr;
    }
  }

  .connection-form {
    border: none;
    background: rgba(128, 128, 128, 0.521);
    min-width: 490px;
    width: 90%;
    text-align: center;
    margin: 0 auto;
    padding: 20px;
    border-radius: 20px;

    @media screen and(max-width: 550px) {
      min-width: 200px;
    }

    .form-container {
      display: grid;
      grid-template-columns: 30% 70%;

      @media screen and(max-width: 550px) {
        grid-template-columns: 1fr;
      }

      ul {
        li {
          cursor: pointer;
          border-radius: 20px;
          padding: 10px 20px;
          transition: 0.2s;
          &:hover {
            background-color: grey;
          }

          @media screen and(max-width: 550px) {
            width: 80%;
            margin: 0 auto;
          }
        }
        .active-btn {
          background: $color-1;

          &:hover {
            background: $color-2;
          }
        }
        li:not(.active-btn) {
          &:hover {
            transform: translateX(3px);
          }
        }
        #login {
          position: relative;
          @media screen and(max-width: 550px) {
            margin-bottom: 30px;

            &:after {
              content: "";
              position: absolute;
              bottom: -10px;
              left: 50%;
              transform: translateX(-50%);
              width: 80%;
              height: 1px;
              background: $color-2;
            }
          }
        }
      }
      form {
        input {
          padding: 14px 20px;
          margin: 0;
          font-size: 1.2rem;
          font-family: $font-2;
          border-radius: 20px;

          &:focus {
            box-shadow: 0 0 3px rgba(51, 51, 51, 0.2);
          }
        }
        a {
          color: rgb(62, 62, 214);
        }
      }
    }
  }
  h1 {
    text-align: center;
    margin: 10px 0 6px;
  }
  .img-container {
    display: grid;
    align-items: center;
    height: 100%;

    img {
      height: 280px;
      border-radius: 20px;

      @media screen and(max-width: 1050px) {
        height: 220px;
      }
      @media screen and(max-width: 950px) {
        height: 200px;
      }
      @media screen and(max-width: 885px) {
        display: none;
      }
    }
  }
}
