.profil-container {
  display: flex;
  flex-wrap: wrap;
  margin-top: 10%;
  background: $color-2;
  padding-bottom: 80px;
  min-height: 800px;
  button {
    &:focus {
      border: 5px solid rgb(0, 37, 248);
      padding: 1%;
    }
  }

  .modal-pic {
    opacity: 0;
    animation: appear 1s ease-in forwards;
  }
  .left-nav-container {
    position: absolute;
    top: 0;
  }
  @keyframes appear {
    from {
      opacity: 0%;
    }
    to {
      opacity: 100%;
    }
  }

  h1 {
    color: white;
    display: flex;
    width: 50%;
    margin-left: 25%;
    margin-bottom: 20px;
    padding-top: 20px;
    justify-content: center;
    align-items: center;
  }
  .left-part {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 50%;
    border-radius: 45px;
    .profil-update {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background: $color-1;
      width: 80%;
      height: 100%;
      padding: 5%;
      border-radius: 45px;
      box-shadow: 0px 0px 4px 5px white;

      .modify-picture {
        display: flex;
        color: white;
        font-size: 18px;
        justify-content: center;
        border-radius: 40px;
        transition: 0.5s;
        font-weight: 600;
        padding: 3%;
        width: 200px;
        margin-bottom: 20px;
        &:hover {
          box-shadow: none;
          transform: scale(1.05);
          border: solid 2px rgb(0, 0, 0);
        }
      }
    }
  }
  #user-pic {
    height: 200px;
    width: 200px;
    border-radius: 55px;
    border: 2px solid $color-2;
    margin-top: 20px;
    margin-bottom: 20px;
    background: $color-3;
    object-fit: cover;
  }
  .update-container {
    display: flex;
    width: 100%;
  }
}
#file {
  border: 25px red;
  justify-content: center;
  display: none;
}
#upload-form {
  background: $color-1;
  padding: 10px;
  display: flex;
  flex-direction: column;
  border-radius: 25px;
  align-items: center;
  box-shadow: 0px 0px 7px 1px black;

  .img-prev {
    height: 150px;
    width: 150px;
    border: dotted 2px;
    object-fit: contain;
  }

  label {
    color: white;
    padding: 5px;
    font-size: 18px;
    cursor: pointer;
    border-radius: 25px;
    background: $color-2;
    margin-bottom: 25px;
    margin-top: 20px;
    width: 80%;
    display: flex;
    justify-content: center;
    transition: 1s;
    &:hover {
      border: 1px solid $color-2;
      color: $color-2;
      background: $color-1;
      transform: scale(1.02);
    }
  }
}
.right-part {
  display: flex;
  justify-content: center;
  width: 50%;

  .bio-update {
    background: $color-1;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10%;
    border-radius: 45px;
    width: 80%;
    max-height: 550px;
    box-shadow: 0px 0px 4px 5px white;

    h3 {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 2%;
    }
    p {
      color: $color-2;
      margin: 5px;
      background: $color-3;
    }
  }
  p,
  textarea {
    color: $color-2;
    min-height: 100px;
    border: 1px solid $color-1;
    border-radius: 20px 20px 6px 20px;
    background: wheat;
    padding: 10px 20px;
    width: 80%;
    font-size: 1.3rem;
  }
  textarea {
    align-items: center;
    font-size: 1.3rem;
    font-weight: 600;
    width: 80%;
  }
  button {
    margin-top: 2%;
    width: 200px;
    font-size: 18px;
    margin-left: 30%;
    justify-content: center;
  }

  #member {
    display: flex;
    justify-content: center;
    align-items: center;
    background: red($color: #000000);

    height: 50px;
    width: 100%;
  }
}
h5 {
  display: flex;
  justify-content: center;
  align-items: center;
  background: $color-2;
  color: $color-4;
  font-family: $font-3;
  cursor: pointer;
  transition: 0.2s;
  padding: 10px 20px;
  font-size: 1.1rem;
  width: 190px;
  border-radius: 20px 20px 20px 20px;
  height: 50px;
  margin: 5px 5px 5px 5px;
  transition: 0.2s;
  &:hover {
    transform: scale(1.07);
  }
}
.popup-profil-container {
  z-index: 100;
  width: 100%;
  top: 0;
  left: 0;
  height: 100%;
  position: fixed;
  animation: popup 1s forwards;

  @keyframes popup {
    to {
      backdrop-filter: blur(2px);
    }
  }

  .modal {
    position: absolute;
    top: 10%;
    left: 50%;
    width: 550px;
    transform: translate(-100%);
    background: $color-1;
    padding: 25px;
    border-radius: 20px;
    box-shadow: 0 0 2px rgba(131, 130, 130, 0.356);
    overflow: auto;
    transform: scaleY(0);
    transform-origin: center;
    animation: modal 0.5s forwards;

    h3 {
      min-width: 200px;
    }

    @keyframes modal {
      to {
        transform: scale(1) translate(-50%);
      }
    }

    .cross {
      position: absolute;
      top: 25px;
      right: 25px;
      transition: 0.1s;
      cursor: pointer;

      &:hover {
        transform: scale(1.07);
      }
    }
  }
  ul {
    display: flex;
    flex-direction: column;
    max-height: 500px;
    overflow-y: scroll;
    overflow-x: hidden;

    &::-webkit-scrollbar {
      width: 2px;
    }
    &::-webkit-scrollbar-track {
      background: $color-4;
    }
    &::-webkit-scrollbar-thumb {
      background: $color-1;
    }
    &::-webkit-scrollbar-thumb:hover {
      background: #555;
    }

    li {
      display: flex;
      align-items: center;
      margin: 10px;
      margin-right: 25px;

      img {
        height: 50px;
        width: 50px;
        border-radius: 20px;
        object-fit: cover;
        box-shadow: 0 0 2px rgba(51, 51, 51, 0.376);
      }
      h4 {
        margin-left: 8px;
        text-align: left;
        min-width: 250px;
      }
      .follow-handler {
        text-align: left;
        .unFollow-btn {
          margin-left: 5%;
        }

        button {
          color: $color-4;
          background: $color-2;
          border-radius: 20px;
          width: 150px;
          box-shadow: 2px 3px 5px $color-2;

          &:hover {
            color: red;
            font-size: 18px;
            transform: translateX(2px);
          }
        }
      }
    }
  }
  .post-container {
    background-color: red;
    width: 100%;
    height: 50px;
  }
}
